<h2>Product Detail</h2>

<div class="issue tracker-1 status-1 priority-2 priority-default created-by-me assigned-to-me details">
  <p id="notice"><%= notice %></p>

  <div class="subject">
    <div>
      <h3><%= @product.name %></h3>
    </div>
  </div>

  <div class="attributes">
    <div class="attribute">
      <div class="label">Price:</div>
      <div class="value"><%= @product.price %></div>
    </div>

    <div class="attribute">
      <div class="label">Quantity:</div>
      <div class="value"><%= @product.quantity %></div>
    </div>

    <div class="attribute">
      <div class="label">Production Date:</div>
      <div class="value"><%= @product.production_date %></div>
    </div>

    <div class="attribute">
      <div class="label">Issue:</div>
      <div class="value"><%= link_to @product.issue.subject, issue_path(@product.issue) %></div>
    </div>
  </div>

</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
